<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Awards password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p>Your new password is: <span th:text="${user.password}">password</span></p>
        <p>
            Your Awards password has been reset, please login with the new password on the URL below:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/login|}"
               th:text="|${user.login}|">Activation Link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Trainee Squad!.</em>
        </p>
    </body>
</html>
