<div>
    <div class="page-header" align="center">
        <h1>Categories<small class="pull-right">Showing <span class="badge">{{categories.length}}</span> Categories</small></h1>
    </div>
    <div class="row" style="overflow-y: scroll; height:650px;">
        <div ng-repeat="category in categories | orderBy:'name'">
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center">
                            <img ng-src="{{category.imageUrl}}" class="img-thumbnail" />
                        </div>
                        <div class="col-xs-8 col-md-8 section-box">
                            <h2><a href="#/categories/{{category.id}}">&nbsp {{category.name}}</a></h2>
                            <p>{{category.description}}</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
